#main {
  max-width: 100vw;
  min-height: 100vh;
}

.container-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
  /* ********************
     *  * PAGOS FORMULARIO
     *  ********************/
}
.container-flex .tarjeta-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 325px;
  position: relative;
  background-image: url("../assets/imagenes/card/bg-tarjetas.svg");
  background-size: cover;
  background-position: center;
  margin-bottom: 200px;
}
.container-flex .tarjeta-container .tarjeta-front {
  position: absolute;
  top: 75%;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 368px;
  height: 212px;
  border-radius: 10px;
  padding: 20px;
  background-image: url("../assets/imagenes/card/tarjeta-front-bg.svg");
  background-size: cover;
  background-position: center;
  color: #ccebed;
}
.container-flex .tarjeta-container .tarjeta-front p {
  font-size: 14px;
}
.container-flex .tarjeta-container .tarjeta-front .tarjeta-logo {
  margin-bottom: 10px;
  align-self: flex-start;
  height: 32px;
}
.container-flex .tarjeta-container .tarjeta-front .tarjeta-fechas {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 8px;
}
.container-flex .tarjeta-container .tarjeta-back {
  position: absolute;
  top: 30%;
  left: 75px;
  z-index: 1;
  width: 368px;
  height: 212px;
  border-radius: 10px;
  background-image: url("../assets/imagenes/card/tarjeta-back-bg.png");
  background-size: cover;
  background-position: center;
}
.container-flex .tarjeta-container .tarjeta-back .tarjeta-codigo-seguridad {
  position: absolute;
  top: 92px;
  right: 32px;
  color: #222831;
  font-weight: 700;
}
.container-flex .pagos-formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 8px;
  padding: 20px;
  margin: 10px;
  width: calc(100vw - 40px);
}
.container-flex .pagos-formulario .formulario-fechas {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}
.container-flex .pagos-formulario .formulario-fechas input {
  width: 75px;
}
.container-flex .pagos-formulario .formulario-titular {
  width: 100%;
}
.container-flex .pagos-formulario .formulario-titular input {
  width: 100%;
}
.container-flex .pagos-formulario .formulario-numero {
  width: 100%;
}
.container-flex .pagos-formulario .formulario-numero input {
  width: 100%;
}

@media (min-width: 768px) {
  .container-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
  }
  .container-flex .tarjeta-container {
    flex: 2;
    min-height: calc(100vh - 200px);
  }
  .container-flex .tarjeta-container .tarjeta-front {
    top: 50%;
    left: auto;
    right: 70px;
  }
  .container-flex .tarjeta-container .tarjeta-back {
    left: auto;
    right: 10px;
  }
  .container-flex .pagos-formulario {
    flex: 1;
  }
}

/*# sourceMappingURL=pagos.css.map */
